@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    /* font */
    --font-sans: "Inter", "system-ui", "sans-serif";

    /* animations */
    @keyframes modalOpen {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes modalClose {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.5);
        }
    }

    --animate-modal-open: modalOpen 0.3s forwards;
    --animate-modal-close: modalClose 0.3s forwards;

    /* Background Colors */
    --color-background: #f3f4f6;
    --color-on-background: #364153;
    --color-on-background-varient: #42474e;

    /* Surface Colors */
    --color-surface: #ffffff;
    --color-on-surface: #000000;
    --color-on-surface-varient: #42474e;

    /* Outline Color */
    --color-outline: #d1d5dc;
    --color-outline-variant: #8a8a8a;

    /* Primary Color */
    --color-primary: #2563eb;
    --color-on-primary: #ffffff;
    --color-primary-container: #dbeafe;
    --color-on-primary-container: #1e40af;
    --color-primary-hover: #1d4ed8;

    /* error Color */
    --color-error: #dc2626;
    --color-on-error: #ffffff;
    --color-error-container: #fee2e2;
    --color-on-error-container: #991b1b;
    --color-error-hover: #b91c1c;

    /* success Color */
    --color-success: #059669;
    --color-on-success: #ffffff;
    --color-success-container: #d1fae5;
    --color-on-success-container: #065f46;
    --color-success-hover: #047857;

    /* info Color */
    --color-info: #0891b2;
    --color-on-info: #ffffff;
    --color-info-container: #cffafe;
    --color-on-info-container: #155e75;
    --color-info-hover: #0e7490;

    --color-mood-red: #dc2626;
    --color-mood-orange: #f97316;
    --color-mood-yellow: #facc15;
    --color-mood-blue: var(--color-info);
    --color-mood-green: #059669;

    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: #dadce0;
    --color-google-btn-hover-bg: #f7f7f7;
    --color-google-btn-hover-border: #c6c6c6;
}

/* Manual Dark Mode */
.dark {
    --color-background: #1a1a1a;
    --color-on-background: #e0e0e0;
    --color-on-background-varient: #b0b0b0;

    --color-surface: #2d2d2d;
    --color-on-surface: #ffffff;
    --color-on-surface-varient: #b0b0b0;

    --color-outline: #555555;
    --color-outline-variant: #777777;

    --color-primary: #3b82f6;
    --color-on-primary: #ffffff;
    --color-primary-container: #172554;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #60a5fa;

    --color-error: #ef4444;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #f87171;

    --color-success: #10b981;
    --color-on-success: #ffffff;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #34d399;

    --color-info: #06b6d4;
    --color-on-info: #ffffff;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #22d3ee;

    --color-mood-red: #ef4444;
    --color-mood-orange: #f97316;
    --color-mood-yellow: #facc15;
    --color-mood-blue: var(--color-info);
    --color-mood-green: #10b981;

    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: transparent;
    --color-google-btn-hover-bg: #d1d5dc;
    --color-google-btn-hover-border: transparent;
}

/* Catppuccin Theme */
.catppuccin {
    --color-background: #1e1e2e;
    --color-on-background: #cdd6f4;
    --color-on-background-varient: #bac2de;

    --color-surface: #313244;
    --color-on-surface: #ffffff;
    --color-on-surface-varient: #a6adc8;

    --color-outline: #6c7086;
    --color-outline-variant: #9399b2;

    --color-primary: #89b4fa;
    --color-on-primary: #1e1e2e;
    --color-primary-container: #1e40af;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #74c7ec;

    --color-error: #f38ba8;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #eba0ac;

    --color-success: #a6e3a1;
    --color-on-success: #1e1e2e;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #94e2d5;

    --color-info: #89dceb;
    --color-on-info: #1e1e2e;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #74c7ec;

    --color-mood-red: #f38ba8;
    --color-mood-orange: #f5a97f;
    --color-mood-yellow: #f9e2af;
    --color-mood-blue: var(--color-info);
    --color-mood-green: #a6e3a1;

    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: transparent;
    --color-google-btn-hover-bg: #d1d5dc;
    --color-google-btn-hover-border: transparent;
}

.tokyonight {
    --color-background: #1a1b26;
    --color-on-background: #c0caf5;
    --color-on-background-variant: #a9b1d6;

    --color-surface: #292e42;
    --color-on-surface: #ffffff;
    --color-on-surface-variant: #565f89;

    --color-outline: #737aa2;
    --color-outline-variant: #545c7e;

    --color-primary: #7aa2f7;
    --color-on-primary: #1a1b26;
    --color-primary-container: #3d59a1;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #2ac3de;

    --color-error: #f7768e;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #db4b4b;

    --color-success: #9ece6a;
    --color-on-success: #1a1b26;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #73daca;

    --color-info: #7dcfff;
    --color-on-info: #1a1b26;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #0db9d7;

    --color-mood-red: #f7768e;
    --color-mood-orange: #ff9e64;
    --color-mood-yellow: #e0af68;
    --color-mood-blue: var(--color-info);
    --color-mood-green: #9ece6a;
}
