@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    /* font */
    --font-sans: "Inter", "system-ui", "sans-serif";

    /* animations */
    @keyframes modalOpen {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes modalClose {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.5);
        }
    }

    --animate-modal-open: modalOpen 0.3s forwards;
    --animate-modal-close: modalClose 0.3s forwards;

    /* Background Colors */
    --color-background: #f3f4f6;
    --color-on-background: #364153;
    --color-on-background-varient: #42474e;

    /* Surface Colors */
    --color-surface: #ffffff;
    --color-on-surface: #000000;
    --color-on-surface-varient: #42474e;

    /* Outline Color */
    --color-outline: #d1d5dc;
    --color-outline-variant: #8a8a8a;

    /* Primary Color */
    --color-primary: #2563eb;
    --color-on-primary: #ffffff;
    --color-primary-container: #dbeafe;
    --color-on-primary-container: #1e40af;
    --color-primary-hover: #1d4ed8;

    /* error Color */
    --color-error: #dc2626;
    --color-on-error: #ffffff;
    --color-error-container: #fee2e2;
    --color-on-error-container: #991b1b;
    --color-error-hover: #b91c1c;

    /* success Color */
    --color-success: #059669;
    --color-on-success: #ffffff;
    --color-success-container: #d1fae5;
    --color-on-success-container: #065f46;
    --color-success-hover: #047857;

    /* info Color */
    --color-info: #0891b2;
    --color-on-info: #ffffff;
    --color-info-container: #cffafe;
    --color-on-info-container: #155e75;
    --color-info-hover: #0e7490;

    /* Primary Color Palette */
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    /*--color-primary-50: #eef2ff;*/
    /*--color-primary-100: #e0e7ff;*/
    /*--color-primary-200: #c6d2ff;*/
    /*--color-primary-300: #a3b3ff;*/
    /*--color-primary-400: #7c86ff;*/
    /*--color-primary-500: #615fff;*/
    /*--color-primary-600: #4f39f6;*/
    /*--color-primary-700: #432dd7;*/
    /*--color-primary-800: #372aac;*/
    /*--color-primary-900: #312c85;*/
    /*--color-primary-950: #1e1a4d;*/

    /* Success Color Palette */
    --color-success-100: #d1fae5;
    --color-success-200: #a7f3d0;
    --color-success-300: #6ee7b7;
    --color-success-400: #34d399;
    --color-success-500: #10b981;
    --color-success-600: #059669;
    --color-success-700: #047857;
    --color-success-800: #065f46;
    --color-success-900: #064e3b;
    --color-success-950: #022c22;

    /*--color-success-50: #ecfdf5;*/
    /*--color-success-100: #d0fae5;*/
    /*--color-success-200: #a4f4cf;*/
    /*--color-success-300: #5ee9b5;*/
    /*--color-success-400: #00d492;*/
    /*--color-success-500: #00bc7d;*/
    /*--color-success-600: #009966;*/
    /*--color-success-700: #007a55;*/
    /*--color-success-800: #006045;*/
    /*--color-success-900: #004f3b;*/
    /*--color-success-950: #002c22;*/

    /* Error Color Palette */
    --color-error-100: #fee2e2;
    --color-error-200: #fecaca;
    --color-error-300: #fca5a5;
    --color-error-400: #f87171;
    --color-error-500: #ef4444;
    --color-error-600: #dc2626;
    --color-error-700: #b91c1c;
    --color-error-800: #991b1b;
    --color-error-900: #7f1d1d;
    --color-error-950: #450a0a;

    /*--color-error-50: #fdf2f8;*/
    /*--color-error-100: #fce7f3;*/
    /*--color-error-200: #fccee8;*/
    /*--color-error-300: #fda5d5;*/
    /*--color-error-400: #fb64b6;*/
    /*--color-error-500: #f6339a;*/
    /*--color-error-600: #e60076;*/
    /*--color-error-700: #c6005c;*/
    /*--color-error-800: #a3004c;*/
    /*--color-error-900: #861043;*/
    /*--color-error-950: #510424;*/

    /* Info Color Palette */
    --color-info-100: #cffafe;
    --color-info-200: #a5f3fc;
    --color-info-300: #67e8f9;
    --color-info-400: #22d3ee;
    --color-info-500: #06b6d4;
    --color-info-600: #0891b2;
    --color-info-700: #0e7490;
    --color-info-800: #155e75;
    --color-info-900: #164e63;
    --color-info-950: #083344;

    /*--color-info-50: #ecfeff;*/
    /*--color-info-100: #cefafe;*/
    /*--color-info-200: #a2f4fd;*/
    /*--color-info-300: #53eafd;*/
    /*--color-info-400: #00d3f2;*/
    /*--color-info-500: #00b8db;*/
    /*--color-info-600: #0092b8;*/
    /*--color-info-700: #007595;*/
    /*--color-info-800: #005f78;*/
    /*--color-info-900: #104e64;*/
    /*--color-info-950: #053345;*/

    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: #dadce0;
    --color-google-btn-hover-bg: #f7f7f7;
    --color-google-btn-hover-border: #c6c6c6;
}

/* Manual Dark Mode */
.dark {
    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: transparent;
    --color-google-btn-hover-bg: #d1d5dc;
    --color-google-btn-hover-border: transparent;

    --color-background: #1a1a1a;
    --color-on-background: #e0e0e0;
    --color-on-background-varient: #b0b0b0;

    --color-surface: #2d2d2d;
    --color-on-surface: #ffffff;
    --color-on-surface-varient: #b0b0b0;

    --color-outline: #555555;
    --color-outline-variant: #777777;

    --color-primary: #3b82f6;
    --color-on-primary: #ffffff;
    --color-primary-container: #172554;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #60a5fa;

    --color-error: #ef4444;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #f87171;

    --color-success: #10b981;
    --color-on-success: #ffffff;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #34d399;

    --color-info: #06b6d4;
    --color-on-info: #ffffff;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #22d3ee;
}

/* Catppuccin Theme */
.catppuccin {
    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: transparent;
    --color-google-btn-hover-bg: #d1d5dc;
    --color-google-btn-hover-border: transparent;

    --color-background: #1e1e2e;
    --color-on-background: #cdd6f4;
    --color-on-background-varient: #bac2de;

    --color-surface: #313244;
    --color-on-surface: #ffffff;
    --color-on-surface-varient: #a6adc8;

    --color-outline: #6c7086;
    --color-outline-variant: #9399b2;

    --color-primary: #89b4fa;
    --color-on-primary: #1e1e2e;
    --color-primary-container: #1e40af;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #74c7ec;

    --color-error: #f38ba8;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #eba0ac;

    --color-success: #a6e3a1;
    --color-on-success: #1e1e2e;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #94e2d5;

    --color-info: #89dceb;
    --color-on-info: #1e1e2e;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #74c7ec;
}

.tokyonight {
    --color-google-btn-bg: #ffffff;
    --color-google-btn-text: #000000;
    --color-google-btn-border: transparent;
    --color-google-btn-hover-bg: #d1d5dc;
    --color-google-btn-hover-border: transparent;

    --color-background: #1a1b26;
    --color-on-background: #c0caf5;
    --color-on-background-variant: #a9b1d6;

    --color-surface: #292e42;
    --color-on-surface: #ffffff;
    --color-on-surface-variant: #565f89;

    --color-outline: #737aa2;
    --color-outline-variant: #545c7e;

    --color-primary: #7aa2f7;
    --color-on-primary: #1a1b26;
    --color-primary-container: #3d59a1;
    --color-on-primary-container: #dbeafe;
    --color-primary-hover: #2ac3de;

    --color-error: #f7768e;
    --color-on-error: #ffffff;
    --color-error-container: #450a0a;
    --color-on-error-container: #fee2e2;
    --color-error-hover: #db4b4b;

    --color-success: #9ece6a;
    --color-on-success: #1a1b26;
    --color-success-container: #022c22;
    --color-on-success-container: #d1fae5;
    --color-success-hover: #73daca;

    --color-info: #7dcfff;
    --color-on-info: #1a1b26;
    --color-info-container: #083344;
    --color-on-info-container: #cffafe;
    --color-info-hover: #0db9d7;
}

:root {
    --scroll-bg: transparent;
    --scroll-thumb: rgba(100, 100, 100, 0.3);
    --scroll-thumb-hover: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}
